form{
  text-align: center;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  margin: 100px auto 100px auto;
  background: rgb(255, 145, 150);

}
.text{
  color: white;
  font-size: 20px;
}
.label{
  font-size: 30px;
  margin-right: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
}
input{
  background: white;
  border: 2px solid rgb(255, 3, 99);
  padding: 5px 5px;
  color: rgb(255, 3, 99);
}
input:focus{
  outline: none;
}
select{
  font-size: 18px;
  width: 200px;
  margin-top: 10px;
  background: rgb(255, 3, 99);
  color: white;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
}
.button {
  background: rgb(255, 3, 99);
  border: none;
  padding: 10px 50px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}
.flex{
  display: flex;
}